
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  /* font-family: 'Roboto', sans-serif; */
  letter-spacing: 0em;
  color: #000;
  position: relative;
  background: #fff;
  overflow-x: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none !important;
}

:focus,
:hover {
  outline: none !important;
}


img {
  max-width: 100%;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
}

/* BUTTON SLIDE */
.slick-slider {
  margin: 0px !important;
}

.slick-prev:before {
  content: url("../images/mt-l.png");
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: 32px !important;
  width: 42px;
  height: 42px;
  display: inline-block;
  line-height: 40px !important;
  /*color: #fff !important;*/
  border-radius: 0px;
  border-radius: 50%;
}

.slick-next:before {
  content: url("../images/mt-r.png");
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: 32px !important;
  width: 42px;
  height: 42px;
  display: inline-block;
  line-height: 40px !important;
  color: #fff !important;
  border-radius: 50%;
  /* background-image: linear-gradient(to right, #692ed7, #0866b2); */
}

.slick-prev {
  left: -6%;
  top: 64%;
  margin-top: -30px;
  width: 42px;
  height: 42px;
}

.slick-next {
  right: -4% !important;
  top: 63%;
  margin-top: -30px;
  width: 42px;
  height: 42px;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #fff !important;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0px;
  list-style-type: none;
  bottom: -20px;
}

.slick-dots li {
  margin: 0px 5px;
  width: initial;
  height: initial;
}

.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  /* border-radius: 100%; */
  background-color: blue;
  text-indent: -9999px;
  width: 51px !important;
  height: 4px !important;
  background: #e0ecf0 !important;
}

.slick-dots li.slick-active button {
  background-color: #034ec0 !important;
  width: 72px !important;
  height: 8px !important;
}
/*body*/
.t_body_tenten{
  background: url("../images/t_background.png")no-repeat;
  width: 100%;
  min-height: 3379px;
  background-size: 100% 100%;
}
.kt-logo-tenten{
  margin-top: 24px;
  text-align: center;
  margin-bottom: 84px;
}
.kt-banner-ten .kt-banner-text{
  width: 55%;
}
.kt-banner-ing{
  min-height: 800px;
}
.kt-banner-ten .code-mb .store{
  margin-bottom: 10px;
}

.kt-banner-ten{
  display: flex;
}
.kt-banner-ten .kt-banner-ing > img{
  width: 100%;
  height: 100%;
}
.kt-banner-ten h2.kt-title-ten{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 140%;
  color: #0066B2;

}
p.kt-sp-service{
  margin-bottom: 28px;
}
.kt-banner-ten .kt-text-load{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #AFAFCC;
  padding: 48px 0px 28px 0px;
}
.kt-banner-ten .code-mb .play{
  margin-right: 32px;
  margin-bottom: 10px;
}
.kt-banner-ten .endow-ten-ten{
  margin-top: 89px;
}
.kt-banner-ten .convenient{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.kt-banner-ten .convenient >img{
  width: 86px;
  object-fit: none;
  height: 60px;
}
.kt-banner-ten .convenient>p{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #224D6C;
  margin: 0px;
}
.kt-endow-hot{
  margin-top: 147px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kt-endow-hot .title-endow{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #0066B2;
}
.kt-endow-hot .kt-ut-box{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1305px;
  margin-top: 65px;
}
.kt-endow-hot .kt-ut-box .kt-endow-box{
  min-width: 349px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kt-endow-hot .kt-ut-box .kt-endow-center{
  margin: 0px 100px;

}
.kt-endow-hot .text-endow{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #AFAFCC;
  text-align: center;
}
.text-endow-center{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #224D6C;
  /* padding-top: 64px; */
  margin-top: 64px;
  text-align: center;
}
.kt-service-management{
  display: flex;
  margin-top: 125px;
  justify-content: center;
  align-items: center;
}
.kt-service-management .kt-text-service{
  width: 50%;
  margin-left: 100px;
}
.kt-service-management .img-service{
  width: 50%;

}
.kt-service-management .img-service .kt-img--smp{
  max-width: 592px;
  max-height: 743px;
}
.kt-service-management .slick-initialized .slick-slide{
  display: flex;
  justify-content: center;
}
.kt-service-management .kt-text-service .kt-title-service{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  color: #0066B2;
  padding-bottom: 24px;
}
.kt-service-management .kt-text-service  .kt-sp-service{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #AFAFCC;
  max-width: 500px;
}
.kt-service-two{
  flex-direction: row-reverse !important;
}
.kt-manager-pc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 128px;
}
.kt-manager-pc .kt-title-manager{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  color: #0066B2;
}
.kt-manager-pc .kt-list-manager{
  display: flex;
  margin: 50px 0px 0px 0px;
}
.kt-text-manager-pc{
  width: 58%;
}
.kt-img-manager-pc{
  width: 41%;
}
.kt-manager-pc .kt-left-text{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.kt-manager-pc .box-text-manager{
  width: calc( 100% / 2);
  max-width: 336px;
  margin-bottom: 42px;
}
.kt-manager-pc .box-text-manager:nth-child(odd){
  margin-right: 77px;
}
.kt-manager-pc .box-text-manager .title-box-manager{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #224D6C;
}
.kt-manager-pc .box-text-manager .conten-box-manager{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #AFAFCC;
}
.kt-content-bt .container{
  max-width: 1520px !important;
}
.kt-img-manager-pc .kt-video-ten{
  max-width: 612px;
  max-height: 400px;
}
.kt-client{
  margin-top: 84px;
}
.kt-client .box-client{
  max-width:416px;
  min-height: 204px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 102, 178, 0.12);
  border-radius: 24px;
  padding: 32px 40px;
  position: relative;
  margin: 51px 150px 71px 28px;
}
.kt-client  .kt-name-client{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #224D6C;
  padding: 0px;
}
.kt-client .kt-comment-client{
  padding: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #AFAFCC;
}
.kt-client .kt-client-avt{
  position: absolute;
  right: -19px;
}
/*img.kt-img--smp{*/
/*  margin: 10px;*/
/*}*/
.kt-client .kt-title-client{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  color: #0066B2;
}
.kt-slide-client{
  margin-top: 64px;
  display: flex;
}
.kt-register-domain{
  margin: 120px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kt-register-domain .kt-title-domain{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #0066B2;
  margin: 24px 0px 48px 0px;
}
.kt-register-domain  .kt-app-gg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.kt-register-domain  .kt-app-gg .gg-play{
  margin: 0px 38px 0px 0px;
}
.kt-register-domain .logo-content-center{
  margin: 68px 0px -293px 0px;
  z-index: -2;
}

/*css reponsive*/
@media screen and (max-width: 1367px){
  .t_body_tenten{
    min-height: 3000px;
  }
  .kt-logo-tenten {
    margin: 24px 0px 50px 0px;
  }
  .kt-banner-ten h2.kt-title-ten {
    font-size: 40px;
  }
  .kt-banner-ten .kt-text-load{
    padding: 20px 0px;
  }
  .kt-banner-ten .endow-ten-ten {
    margin: 50px 0px 0px 0px;
  }
  .kt-banner-ing{
    min-height: auto;
  }
  .kt-endow-hot{
    margin: 60px 0px 0px 0px;
  }
  .kt-endow-hot .title-endow{
    font-size: 40px;
    line-height: 35px;
  }
  .kt-endow-hot .kt-ut-box .kt-endow-box{
    min-width: 300px;
  }
  .kt-endow-hot .kt-ut-box .kt-endow-center{
    margin: 0px 80px;
  }
  .kt-endow-hot .text-endow{
    font-size: 21px;
    line-height: 24px;
  }
  .text-endow-center{
    font-size: 30px;
    line-height: 30px;
    margin: 30px 0px 0px 0px;
  }
  .kt-service-management{
    margin: 55px 0px 0px 0px;
  }
  .kt-service-management .kt-text-service .kt-title-service{
    padding: 0px 0px 18px 0px;
  }
  .kt-manager-pc{
    margin: 47px 0px 0px 0px;
  }
  .kt-manager-pc .kt-title-manager{
    margin: 0px;
  }
  .kt-manager-pc .box-text-manager:nth-child(odd){
    margin-right: 26px;
  }
  .kt-manager-pc .box-text-manager{
    margin-bottom: 20px;
  }
  .kt-text-manager-pc{
    width: 55%;
  }
  .kt-service-management .img-service .kt-img--smp{
    padding: 10px 0px;
  }
  .kt-img-manager-pc .kt-video-ten{
    max-width: 100%;
    max-height: 100%;
  }
  .kt-client{
    margin: 40px 0px 0px 0px;
  }
  .kt-client .kt-client-avt{
    bottom: -24px;
  }
  .kt-client .box-client{
    margin: 51px 80px 71px 80px;
  }
  .kt-register-domain{
    margin: 75px 0px 0px 0px;
  }
  .kt-register-domain .kt-title-domain{
    font-size: 39px;
    line-height: 35px;
  }

}

@media screen and (max-width: 1024px){
  .kt-slide-mb{
    display: none;
  }
  .t_body_tenten{
    min-height: 2270px;
  }
  .kt-logo-tenten{
    margin: 10px 0px 20px 0px;
  }
  .kt-banner-ten .kt-banner-ing > img{
    width: 90%;
    height:auto;
    float: right;
  }
  .kt-banner-ten .kt-banner-text {
    width: 65%;
  }
  .kt-banner-ten h2.kt-title-ten{
    font-size: 32px;
    line-height: 37px;
    margin: 0px;
  }
  .kt-banner-ten .kt-text-load{
    font-size: 21px;
    line-height: 19px;
    padding: 10px 0px;
  }
  .kt-banner-ten .code-mb .play{
    max-width: 150px;
    margin-right: 20px;
  }
  .kt-banner-ten .code-mb .store{
    max-width: 150px;
  }
  .kt-banner-ten .endow-ten-ten{
    margin: 30px 0px 0px 0px;
  }
  .kt-banner-ten .convenient>p{
    font-size: 19px;
    line-height: 21px;
  }
  .kt-endow-hot .title-endow{
    font-size: 32px;
    line-height: 27px;
  }
  .kt-endow-hot .kt-ut-box .kt-endow-box{
    min-width: 230px;
  }
  .kt-endow-hot .kt-ut-box .kt-endow-box>img{
    max-width: 200px;
  }
  .kt-endow-hot .kt-ut-box{
    margin-top: 40px;
  }
  .kt-endow-hot .text-endow{
    font-size: 19px;
    line-height: 21px;
  }
  .text-endow-center{
    font-size: 27px;
    line-height: 32px;
  }
  .kt-service-management .kt-text-service .kt-title-service{
    font-size: 27px;
    line-height: 32px;
    padding: 0px 0px 10px 0px;
  }
  .kt-service-management .kt-text-service{
    margin-left: 20px;
    margin-right: 30px;
  }
  .kt-service-management .kt-text-service .kt-sp-service{
    font-size: 19px;
    line-height: 21px;
  }
  .kt-service-management .img-service{
    width: 40%;
  }
  .kt-service-management .slick-list.draggable{
    height: 480px;
  }
  .kt-manager-pc .kt-title-manager{
    font-size: 32px;
    line-height: 37px;
  }
  .kt-manager-pc .box-text-manager{
    max-width: 220px;
  }
  .kt-manager-pc .box-text-manager .title-box-manager{
    font-size: 19px;
    line-height: 21px;
  }
  .kt-manager-pc .box-text-manager .conten-box-manager{
    font-size: 16px;
    line-height: 19px;
  }
  .kt-manager-pc .kt-left-text{
    justify-content: center;
  }
  .kt-client{
    margin: 10px 0px 0px 0px;
  }
  .kt-client .kt-title-client{
    font-size: 32px;
    line-height: 27px;
  }
  .kt-client .box-client {
    margin: 31px 43px 71px 51px;
    max-width: 396px;
    border-radius: 10px;
  }
  .kt-register-domain .kt-title-domain{
    font-size: 32px;
    line-height: 37px;
  }
  .kt-register-domain .logo-content-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kt-register-domain .img-content{
    width: 80%;
  }
  .kt-manager-pc .box-text-manager:nth-child(odd){
    margin-right: 2px !important;
  }.kt-register-domain .logo-content-center{
     margin: 68px 0px 30px 0px;
     z-index: 1;
   }

}
@media screen and (max-width: 768px){
  .kt-service-management .slick-next:before{
    display: none;
  }
  .kt-service-management .slick-prev:before{
    display: none;
  }
  .kt-banner-ten h2.kt-title-ten{
    text-align: center;
  }
  .kt-banner-ten{
    flex-direction: column;
  }
  .kt-banner-ten .kt-banner-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .kt-banner-ten .endow-ten-ten{
    display: flex;
  }
  .kt-banner-ing{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kt-banner-ten .kt-banner-ing > img{
    width: 50%;
  }
  .kt-endow-hot {
    margin: 17px 0px 0px 0px;
  }
  .kt-endow-hot .title-endow{
    font-size: 21px;
    line-height: 24px;
  }
  .kt-endow-hot .kt-ut-box .kt-endow-box{
    min-width: auto;
    max-width: 300px;
    margin: 0px 20px;
  }
  .kt-endow-hot .kt-ut-box .kt-endow-center{
    margin: 5px;
  }
  .kt-endow-hot .kt-ut-box{
    flex-wrap: wrap;
    justify-content: center;
  }
  .kt-endow-hot .kt-ut-box .kt-endow-center{
    order: 1;
  }
  .kt-service-management .kt-text-service .kt-title-service{
    font-size: 21px;
    line-height: 24px;
  }
  img.kt-img--smp{
    width: 90%;
  }
  .kt-service-management{
    margin: 20px 0px 0px 0px;
  }
  .kt-manager-pc{
    margin: 20px 0px 0px 0px;
  }
  .kt-manager-pc .kt-title-manager{
    font-size: 21px;
    line-height: 24px;
  }
  .kt-manager-pc .kt-list-manager{
    flex-direction: column;
  }
  .kt-text-manager-pc{
    width: 100%;
  }
  .kt-manager-pc .box-text-manager{
    margin: 0px 10px;
  }
  .kt-img-manager-pc{
    width: 60%;
    padding: 10px 0px ;
    margin: 0 auto;
  }
  .kt-client .kt-title-client{
    font-size: 21px;
    line-height: 24px;
  }
  .kt-client .box-client {
    margin: 42px 73px 67px 74px;
    max-width: 568px;
    border-radius: 15px;
  }
  .kt-register-domain .kt-title-domain{
    font-size: 21px;
    line-height: 24px;
    margin: 20px 0px;
  }

}
@media screen and (max-width: 425px){
  .kt-logo-tenten>img{
    width: 70%;
  }
  .kt-banner-ten h2.kt-title-ten{
    font-size: 21px;
    line-height: 23px;
    text-align: center;
  }
  .kt-banner-ten .kt-text-load{
    font-size: 16px;
    line-height: 21px;
    text-align:center;
  }
  .kt-banner-ten .endow-ten-ten{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .kt-banner-ten .convenient>p{
    font-size: 16px;
    line-height: 19px;
  }
  .kt-banner-ten .code-mb .play{
    max-width: 120px;
    margin-right: 10px;
  }
  .kt-banner-ten .code-mb .store{
    max-width: 120px;
  }
  .kt-banner-ten .convenient >img{
    width: 56px;
    height: 56px;
    object-fit: contain;
  }
  .kt-banner-ten .kt-banner-ing > img{
    width: 90%;
  }
  .kt-service-management .kt-text-service .kt-sp-service{
    font-size: 16px;
    line-height: 19px;
  }
  .t_body_tenten{
    min-height: 2094px;
  }
  .kt-manager-pc .kt-list-manager{
    margin: 20px 0px 0px 0px;
  }
  .kt-manager-pc .box-text-manager{
    width: 100%;
    max-width: 100%;
  }
  .kt-manager-pc .box-text-manager .title-box-manager{
    font-size: 16px;
    line-height: 19px;
  }
  .kt-manager-pc .box-text-manager .conten-box-manager{
    font-size: 16px;
    line-height: 19px;
  }
  .kt-client .box-client{
    max-width: 320px;
    margin: 80px 20px 40px 20px;
  }
  .kt-client .box-client{
    max-width: 299px;
  }
  img.kt-client-avt{
    width: 95px;
    height: 95px;
  }
  .kt-client .kt-client-avt {
    bottom: 0px;
    right: 32%;
    top: -63px;
  }
  .kt-client .kt-name-client{
    font-size: 17px;
    line-height: 22px;
  }
  .kt-client .box-client{
    padding: 50px 10px 20px 10px
  }
  .slick-dots li.slick-active button{
    height: 5px !important;
    width: 50px !important;
  }
  .kt-client .slick-dots button{}
  img.gg-play, img.app-store{
    width: 120px;
  }
  .kt-register-domain .logo-content-center{
    margin-top: 20px;
  }
}
@media screen and (max-width: 320px){
  .kt-client .box-client{
    max-width: 250px;
  }
}














/*end body*/